<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cheng.demo.mapper.TestUserMapper">

    <resultMap id="resultMap" type="com.cheng.demo.entity.TestUser">
        <id property="id" column="id" javaType="java.lang.Long"/>
        <result property="name" column="name" javaType="java.lang.String"/>
        <result property="sex" column="sex" javaType="java.lang.Integer"/>
        <result property="remark" column="remark" javaType="java.lang.String"/>
        <result property="createTime" column="create_time" javaType="java.util.Date"/>
        <result property="updateTime" column="update_time" javaType="java.util.Date"/>
        <result property="test" column="test" javaType="java.lang.String"/>
        <result property="BelongOprName" column="belong_opr_name" javaType="java.lang.String"/>
    </resultMap>

    <select id="selectAll" resultMap="resultMap">
        select * from tbl_test_user
    </select>

    <select id="getOneUser" parameterType="java.lang.Long" resultMap="resultMap">
        select * from tbl_test_user where id = #{id}
    </select>

    <update id="update" parameterType="com.cheng.demo.entity.TestUser">
        update tbl_test_user
        set name=#{name}, remark=#{remark}, sex=#{sex}, update_time=#{updateTime}
        where id=#{id}
    </update>

    <insert id="insert" parameterType="com.cheng.demo.entity.TestUser">
        insert into tbl_test_user(name, sex, remark, create_time, belong_opr_name)
        values(#{name}, #{sex}, #{remark}, #{createTime}, #{belongOprName})
    </insert>

    <delete id="delete" parameterType="java.lang.Long">
        delete from tbl_test_user where id = #{id}
    </delete>

    <select id="selectByPage" parameterType="java.util.Map" resultMap="resultMap">
        select * from tbl_test_user limit #{page}, #{size}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(1) from tbl_test_user
    </select>

</mapper>